---
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
// import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export async function getStaticPaths({ paginate }) {
  return await getStaticPathsBlogList({ paginate });
}

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: 'Gefest — Академия программирования',
  ignoreTitleTemplate: true,
};
---

<Layout
  metadata={metadata}
  actions={[
    {
      variant: 'secondary',
      text: 'Перейти к обучению',
      href: '#tally-open=nP9Z8V&tally-layout=modal&tally-emoji-text=👋&tally-emoji-animation=wave&tally-auto-close=0',
      target: '_blank',
      icon: 'tabler:check',
    },
  ]}
>
  <Hero
    tagline="Тот самый Курс 🚀"
    actions={[
      {
        variant: 'primary',
        text: 'Перейти к обучению',
        href: '#tally-open=nP9Z8V&tally-layout=modal&tally-emoji-text=👋&tally-emoji-animation=wave&tally-auto-close=0',
        target: '_blank',
        icon: 'tabler:check',
      },
      { text: 'Узнать больше', href: '#map' },
    ]}
  >
    <Fragment slot="title">
      Как зарабатывать <span class="text-primary"> 500.000</span> ежемесячно на <span class="text-primary">АйТИ</span> с
      нуля!
    </Fragment>
  </Hero>
  <!-- <Headline subtitle=" Тот самый Курс 🚀">Как зарабатывать 500.000 ежемесячно на АйТИ с нуля!</Headline> -->
  <!-- <BlogList posts={page.data} /> -->
  <Steps
    id="map"
    title="Что входит в курс 🤔"
    items={[
      {
        title: 'Блок 1: <span class="font-medium">Полезные ресурсы</span>',
        description:
          'Как и где находить необходимую инфу? Держи 😇 крутые сайты, где можно найти передовые новости про АйТи чтобы быть в тренде!',
        emoji: '📚',
      },
      {
        title: 'Блок 2: <span class="font-medium">На каком устройстве лучше заниматься программированием?</span>',
        description: 'Подбираем лучшее устройство для АйТи!',
        emoji: '💻',
      },
      {
        title: 'Блок 3: <span class="font-medium">Как в IT делаются деньги?</span>',
        description: 'Научись различать бекенд от фронтенда, и джуна от сеньора.',
        emoji: '🤯',
      },
      {
        title: 'Блок 4: <span class="font-medium">Где находить работу?</span>',
        description: 'Научись находить клиентов через 3 канала продвижения.',
        emoji: '🙋‍♂️',
      },
      {
        title: 'Блок 5: <span class="font-medium">Зарплаты по специальностям</span>',
        description: 'Узнайте сколько зарабатывают специалисты разных направлений в IT.',
        emoji: '💰',
      },
      {
        title: 'Блок 6: <span class="font-medium">Секрет продаж в IT</span>',
        description: 'Откройте для себя секретный ингредиент, который заставит клиентов жаждать ваших услуг.',
        emoji: '🤫',
      },
    ]}
  />
  <Content
    isReversed
    tagline="Преподаватель"
    title="Перенимай опыт у реальных специалистов!"
    items={[
      {
        title: '5 лет веб-разработки',
      },
      {
        title: 'Работал в Chocofamily, Bloomberg, Streamflow',
      },
      {
        title: 'Призер международных олимпиад по Финтех',
      },

      {
        title: 'Основатель аутсорс компании Gefest (50М в обороте)',
      },
      {
        title: 'Учиться и живет в Гонконге',
      },
    ]}
    image={{
      src: '~/assets/images/toktar.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ахметов Тохтар</h3>
       Фаундер Gefest / Senior Fullstack Developer
    </Fragment>
  </Content>
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Перейти к обучению',
        href: '#tally-open=nP9Z8V&tally-layout=modal&tally-emoji-text=👋&tally-emoji-animation=wave&tally-auto-close=0',
        target: '_blank',
        icon: 'tabler:check',
      },
    ]}
  >
    <Fragment slot="title">Готов зарабатывать в АйТи? 🤑</Fragment>

    <Fragment slot="subtitle">Стартуй обучение!</Fragment>
  </CallToAction>
  <!-- <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} /> -->
</Layout>
