---
import Layout from '~/layouts/PageLayout.astro';

import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Features2 from '~/components/widgets/Features2.astro';
const metadata = {
  title: 'Gefest — Академия программирования',
  ignoreTitleTemplate: true,
};
---

<Layout
  metadata={metadata}
  actions={[
    {
      variant: 'secondary',
      text: 'Подать заявку',
      href: '#tally-open=nP9Z8V&tally-layout=modal&tally-emoji-text=👋&tally-emoji-animation=wave&tally-auto-close=0',
      target: '_blank',
      icon: 'tabler:check',
    },
  ]}
>
  <!-- Hero Widget ******************* -->

  <Hero2
    actions={[
      {
        variant: 'primary',
        text: 'Начать учиться',
        href: '#tally-open=nP9Z8V&tally-layout=modal&tally-emoji-text=👋&tally-emoji-animation=wave&tally-auto-close=0',
        target: '_blank',
        icon: 'tabler:check',
      },
      { text: 'Узнать больше', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Заработай в <span class="text-primary">IT</span>
      <span class="hidden xl:inline">свои первые</span>
      <span class="text-primary"> 500.000 тенге</span> за <span>3</span> месяца!
    </Fragment>

    <Fragment slot="subtitle">
      Собственная образовательная платформа. <br />

       Профессиональная помощь с трудоустройством.<br /> Личный куратор.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features2
    id="features"
    tagline="Это для меня?"
    title="Этот курс для тебя, если ты"
    items={[
      {
        title: 'Студент IT ВУЗ-ов',
        description:
          'Если вы понимаете, что знания, полученные в университете, устаревают, и для роста вам нужны актуальные знания и практика',
        icon: 'tabler:school',
      },
      {
        title: 'Поступаешь в университет',
        description:
          'Вы еще не определились, куда поступить, или хотите учиться в зарубежных университетах. Уже готовы зарабатывать самостоятельно',
        icon: 'tabler:ballpen',
      },
      {
        title: 'Хотите сменить профессию',
        description: 'Свободный график, работ с любой точки мира и зарплата от 500.000 тенге в месяц.',
        icon: 'tabler:reload',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Steps
    title="Карта обучения."
    items={[
      {
        title: 'Блок 1: <span class="font-medium">HTML/CSS</span>',
        description: 'Освойте искусство создания стильных и адаптивных сайтов. Превращайте идеи в реальность.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Блок 2: <span class="font-medium">JavaScript программирование</span>',
        description: 'Погрузитесь в магию интерактивности. Делайте сайты живыми и динамичными.',
        icon: 'tabler:brand-javascript',
      },
      {
        title: 'Блок 3: <span class="font-medium">Разработка серверных приложений на Node.js</span>',
        description: 'Станьте архитектором веба. Создавайте мощные серверные приложения с нуля.',
        icon: 'tabler:brand-nodejs',
      },
      {
        title: 'Блок 4: <span class="font-medium">Разработка интерфейсов с React фреймворком</span>',
        description: 'Поразите пользователей современными и интуитивными интерфейсами. Ваш код — ваше искусство.',
        icon: 'tabler:brand-nextjs',
      },
      {
        title: 'Блок 5: <span class="font-medium">Разработка мобильных приложений с React Native фреймворком</span>',
        description: 'Войдите в мир мобильной разработки. Одна база кода — приложения на всех устройствах.',
        icon: 'tabler:brand-react-native',
      },
      {
        title: 'Блок 6: <span class="font-medium">Дипломная работа</span>',
        description: 'Покажите миру свои навыки! Создайте проект, который станет вашей визитной карточкой в мире IT.',
        icon: 'tabler:check',
      },
    ]}
  />
  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Преподаватели"
    title="Перенимай опыт у реальных специалистов!"
    items={[
      {
        title: '5 лет веб-разработки',
      },
      {
        title: 'Работал в Chocofamily, Bloomberg, Streamflow',
      },
      {
        title: 'Призер международных олимпиад по Финтех',
      },

      {
        title: 'Основатель аутсорс компании Gefest',
      },
      {
        title: 'Учиться и живет в Гонконге',
      },
    ]}
    image={{
      src: '~/assets/images/toktar.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ахметов Тохтар</h3>
       Senior Fullstack Developer
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Веб-разработчик со стажем 4 года',
      },
      {
        title: 'Преподает более 3 лет (детей и взрослых)',
      },
      {
        title: 'Обучил более 1000 студентов',
      },
      {
        title: 'Работал в Oilan, Itstep, Aitu, Gefest, Careerist',
      },
    ]}
    image={{
      src: '~/assets/images/alibi.jpeg',
      alt: 'Blueprint Imagev Toktar',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Дуйсеналиев Алиби</h3>
       Senior Fullstack Developer
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    class:list={{
      container: 'pt-8',
    }}
    title="Создаем новое поколение разработчиков!"
    isReversed
    items={[
      {
        title: 'Попади к нам в команду',
        description: 'После обучения лучших учеников устроим в нашу студию разработки! ',
      },
      {
        title: 'Помощь в трудоустройстве',
        description: 'Также, если ты не сможешь найти работу, МЫ тебе поможем! ',
      },
      {
        title: 'Гарантия результата',
        description:
          'Если ты не будешь пропускать занятия, выполнишь все задания- мы Гарантировано найдем тебе работу!',
      },
      {
        title: 'Сообщество',
        description: `Попади в сообществе единомышленников, которые жаждут знаний!`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?auto=format&fit=crop&q=80&w=4770&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Team image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Testimonials
    title="Что говорят наши студенты?"
    testimonials={[
      {
        testimonial: `Совмещать не сложно- график удобный!`,
        name: 'Карен',
        job: 'Студент',
        image: {
          src: '~/assets/images/testimonial-1.png',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `Университет ,конечно, дает знания, но 
навыки приходится все равно самому улучшать!`,
        name: 'Надежда',
        job: 'Студент',
        image: {
          src: '~/assets/images/testimonial-2.png',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial: 'За свою работу на курсе я выиграл денежный приз',
        name: 'Бекжан',
        job: 'Студент',
        image: {
          src: '~/assets/images/testimonial-3.png',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Полная версия на нашем канале',
      href: 'https://youtube.com/playlist?list=PLZY9VNaakNJo7UmI9tlpgiItSIqmq9ldV&si=uc-J8ljoc_rvHoJa',
      icon: 'tabler:chevron-right',
    }}
  />

  <FAQs
    title="Отвечаем на вопросы"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Нужны ли знания программирования для участия в Gefest?',
        description: 'Мы научим тебя вне зависимости от твоего опыта!',
      },
      {
        title: 'Я живу в другом городе, я могу участвовать?',
        description: 'Вы можете быть частью нашей команды из любой точки Казахстана!',
      },
      {
        title: 'Могут ли подавать заявку граждане других стран?',
        description: 'Конечно можете- где бы вы ни были, вы можете быть с нами!',
      },
      {
        title: 'Могу ли я совмещать обучение с работой или учебой?',
        description: 'Да, можете! К тому же, если вы не успеваете, есть записи занятий!',
      },
      {
        title: 'Я работаю/учусь фулл-тайм, я могу участвовать?',
        description: 'Конечно! Занятия записываются, так что вы ничего не пропустите!',
      },
    ]}
  />

  <Stats
    stats={[
      { title: 'Видео уроков', amount: '75' },
      { title: 'Часов контента', amount: '120+' },
      { title: 'Модулей', amount: '6' },
      { title: 'Средняя ЗП', amount: '300K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Подать заявку',
        href: '#tally-open=nP9Z8V&tally-layout=modal&tally-emoji-text=👋&tally-emoji-animation=wave&tally-auto-close=0',
        target: '_blank',
        icon: 'tabler:check',
      },
    ]}
  >
    <Fragment slot="title">
      Gefest&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Фуллстек Курс</span> = ❤️
    </Fragment>

    <Fragment slot="subtitle">Ждем тебя в нашем сообществе!</Fragment>
  </CallToAction>
</Layout>
