---
import { Icon } from 'astro-icon/components';
import PageLayout from '~/layouts/PageLayout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const title = `Спасибо!`;
---

<PageLayout metadata={{ title }}>
  <section class="flex items-center h-screen p-8 lg:p-16">
    <div class="container flex flex-col items-center justify-center mx-auto my-8">
      <div class="text-center flex justify-center flex-col">
        <h2 class="mb-8 font-bold text-3xl lg:text-4xl">
          <span class="sr-only">Спасибо!</span>
          <span class="text-primary">Ваше путешествие начинается!</span>
        </h2>
        <p class="text-md font-semibold md:text-xl">
          Вас перенаправит в наш телеграм бот через пару секунд. Можете нажать кнопку не дожидаясь :)
        </p>

        <a rel="noopener noreferrer" href={'https://t.me/gefest_assistant_bot'} class="btn ml-4 mt-4">
          Перейти в телеграм</a
        >
      </div>
    </div>
  </section>
</PageLayout>

<script>
  setTimeout(function () {
    window.location.href = 'https://t.me/gefest_assistant_bot';
  }, 2000);
</script>
